* {
    scrollbar-width: thin !important;

    /* 源ノ角ゴを使う場合
    font-family: 'Neue Haas Grotesk Text Pro','源ノ角ゴシック' !important;
    font-weight: 400 !important;
    font-feature-settings: "pkna" !important;
    */

    /* 全てのページで強制的にBIZ UDPゴシックを使いたいが、全角英数字の見分けが付かず恥ずかしい思いをするので、FontForgeするか欧文フォントconsolasを前に持ってくる回避策が必要。 */
    font-family: 'consolas','BIZ UDPGothic' !important;
}

/* https://superuser.com/questions/318912/how-can-i-override-the-css-of-a-site-in-firefox-with-usercontent-css */
/* YouTube banner ads */
@-moz-document domain(youtube.com) {
    #invideo-overlay\:y,
    #invideo-overlay\:14,
    .ytp-ad-overlay-container,
    #YtKevlarVisibilityIdentifier,
    #player-ads {
        display: none!important;
    }
}
    
/* Background image blur */
@-moz-document domain(twitter.com), domain(discord.com) {
    .appMount-3lHmkl::before,
    .r-417010::before {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: "";
        background: inherit;
        filter: blur(8px) brightness(0.7);
    }
}
    
/* Twitter backgound color */
@-moz-document domain(twitter.com) {
    /* .css-901oao:not(.r-m0bqgq):not(.r-13gxpu9) span, */
    .r-18jsvk2 {
        color: rgb(227, 233, 238) !important;
    }
    .r-m0bqgq {
        color: rgb(136, 153, 166) !important;
    }
    /* .r-18u37iz .r-13qz1uu .r-417010 .r-12vffkv */
    .r-417010:not(.r-bnwqim):not(.r-lrvibr):not(.r-h9hxbl) {
        background: rgba(0,0,0,0.4) url("./EoDl9M_VEAIMbeW_hph.jpg") fixed!important;
        background-size: 100% auto;
    }

    .r-14lw9ot {
        background-color: transparent!important;
    }

    .r-1ihkh82,
    .r-z1a2ur,
    .r-e84r5y {
        background-color: rgba(0,0,0,0.2)!important;
    }

    .r-1upvrn0 {
        background-color: rgba(25,25,25,0.8)!important;
    }

    .r-aygnpl,
    .r-1bs4hfb,
    .r-mxfbl1,
    .r-1gm7m50,
    .r-j7yic,
    .r-1in3vh1,
    .r-cgjvx2 {
        border-color: rgba(0,0,0,0.3)!important;
    }
}
    
/* Discord backgound transparent for background image */
@-moz-document domain(discord.com) {
    .theme-dark {
        --background-primary: rgba(0,0,0,0.1)!important;
        --background-secondary: rgba(0,0,0,0.1)!important;
        --background-secondary-alt: rgba(0,0,0,0.1)!important;
        --background-tertiary: rgba(0,0,0,0.1)!important;
        --scrollbar-auto-scrollbar-color-track: rgba(0,0,0,0.1)!important;
    }
    .theme-dark .container-1D34oG {
        background-color: rgba(0,0,0,0.1)!important;
    }
    
/* Discord background image */
    .appMount-3lHmkl {
        z-index: 0;
        background-image: url("./En-IvrjVcAAnlAP_hph.jpg");
        background-size: 100% auto;
    }
    
/* Discord disable banner */
    .notice-3bPHh- {
        display: none;
    }
}

/* Google Translate */
@-moz-document domain(translate.google.com) {
    #wtgbr,
    #gt-c {
        display: none !important;
    }
    #contentframe {
        top: 0 !important;
    }
}

/* fast.com */
@-moz-document domain(fast.com) {
    .test-info-group {
        background-color: black !important;
        color: black !important;
    }
}
