/* browser.tabs.tabmanager */
#alltabs-button,
/* タブ前後のスペーサー */
.titlebar-spacer,
/* 拡張機能 */
#unified-extensions-button,
/* タブを閉じる */
.tab-close-button {
    display: none;
}

/* 非アクティブなタブのファビコンを暗く */
.tabbrowser-tab[pending] {
    color: light-dark(rgb(64, 64, 64), rgb(192, 192, 192)) !important;
}

/* タブラベルを複数行で表示する */
.tabbrowser-tab {
    height: calc(var(--tab-min-height)*2);
}
.tab-content {
    padding: 0 0 0 var(--space-xsmall) !important;
}
.tab-icon-stack {
    z-index: 1;
    position: absolute !important;
    bottom: var(--tab-block-margin);
    right: 0px;
}
.tab-label-container {
    margin: auto;
}
.tab-label {
    white-space: normal !important;
    line-height: 1.4 !important;
    max-height: 4em;
}

/* タブのタイトルを用いて、内容を色で示す */
.tabbrowser-tab > .tab-stack {
    border-bottom: 2px solid;
    border-color: transparent;
}

.tabbrowser-tab[label*="4k" i] > .tab-stack,
.tabbrowser-tab[label*="8k" i] > .tab-stack {
    border-color: goldenrod;
}
.tabbrowser-tab[label*="MV" i] > .tab-stack,
.tabbrowser-tab[label*="PV" i] > .tab-stack,
.tabbrowser-tab[label*="ver." i] > .tab-stack,
.tabbrowser-tab[label*="feat" i] > .tab-stack,
.tabbrowser-tab[label*="cover" i] > .tab-stack,
.tabbrowser-tab[label*="歌"] > .tab-stack,
.tabbrowser-tab[label*="カバー"] > .tab-stack {
    border-color: slateblue;
}
/* Container Tabs privacy.userContext.enabled に対応 */
.tab-context-line {
    display: none !important;
}
.tabbrowser-tab[usercontextid] .tab-background {
    background: linear-gradient(0deg, transparent 0%, var(--identity-icon-color) 100%);
}
/* 開いているタブを目立たせる */
.tabbrowser-tab[selected] > .tab-stack {
    border-color: var(--toolbar-color);
}

/* プライベートブラウズのロゴを退ける */
#private-browsing-indicator-with-label {
    position: fixed;
    top: 6px;
    right: 0;
}

/* user.jsのbrowser.uiCustomization.stateに沿うように、URLバーの長さを制限 */
#urlbar-container {
    width: 40vw !important;
}

/* ブックマークキーワード入力欄(タグではない)をCtrl - Dに追加 */
#editBMPanel_keywordRow {
    visibility: visible !important;
}
