/* とても重いタブ一覧 browser.tabs.tabmanager.enabled: false では無効にならない */
#alltabs-button,
/* タブ前後のスペーサー */
.titlebar-spacer,
/* 拡張機能 */
#unified-extensions-button,
/* タブを閉じるボタン */
.tab-close-button {
    display: none;
}

/* タブタイトルを最大限表示 */
.tab-label-container {
    mask-image: none !important;
}

/* 非アクティブなタブのファビコンを暗く */
.tabbrowser-tab[pending] {
    filter: opacity(.7);
}

/* VivaldiのTwo-Level Tab Stacksをリスペクトしつつ、スクロール機能を壊さない変更に留める */
.tabbrowser-tab {
    margin-right: -76px !important;
    margin-bottom: var(--tab-min-height) !important;
    overflow: visible !important;
    min-width: 152px !important;
    max-width: 152px !important;
}
/* 下段 */
.tabbrowser-tab:nth-of-type(2n) {
    margin-top: var(--tab-min-height) !important;
    margin-bottom: 0 !important;
}

/* Two-Level Tabで見栄えするように、ボーダーラインを中央だけに表示する .tabbrowser-tabには適用できなかった*/
.tabbrowser-tab > .tab-stack {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: transparent;
}
.tabbrowser-tab:nth-of-type(2n) > .tab-stack {
    border-bottom: none !important;
}
.tabbrowser-tab:nth-of-type(2n-1) > .tab-stack {
    border-top: none !important;
}
.tab-background {
    margin-block: 0 !important;
}

/* タブのタイトルを用いて、内容を色で示す */
.tabbrowser-tab[label*="4k" i] > .tab-stack,
.tabbrowser-tab[label*="8k" i] > .tab-stack {
    border-color: goldenrod;
}
.tabbrowser-tab[label*="MV" i] > .tab-stack,
.tabbrowser-tab[label*="PV" i] > .tab-stack,
.tabbrowser-tab[label*="ver." i] > .tab-stack,
.tabbrowser-tab[label*="feat" i] > .tab-stack,
.tabbrowser-tab[label*="cover" i] > .tab-stack,
.tabbrowser-tab[label*="歌"] > .tab-stack,
.tabbrowser-tab[label*="カバー"] > .tab-stack {
    border-color: slateblue;
}
/* 開いているタブを目立たせる */
.tabbrowser-tab[selected] > .tab-stack {
    z-index: 1;
    border-color: var(--toolbar-color);
}

/* すべてのタブを数える */
body {
    counter-reset: beforetabcounter 0;
}
.tabbrowser-tab > .tab-stack {
    counter-increment: beforetabcounter;
}
/* 開いているタブ以降のタブを数える */
.tabbrowser-tab[selected] {
    counter-reset: aftertabcounter -1;
}
.tabbrowser-tab {
    counter-increment: aftertabcounter;
}
/* 左右にタブが幾つあるかを、タブのスクロールボタン下に表示 */
.tabbrowser-tab[selected]::before,
.tabbrowser-tab:last-of-type::after {
    position: fixed;
    display: block;
    top: calc(var(--tab-min-height) * 1.5);
    font-size: 12px;
    text-align: center !important;
    pointer-events: none;
    color: var(--toolbar-color);
}
.tabbrowser-tab[selected]::before {
    left: 2px;
    content: counter(beforetabcounter) !important;
}
.tabbrowser-tab:last-of-type::after {
    right: 140px;
    content: counter(aftertabcounter) !important;
}
/* タブのスクロールボタンの位置調整 */
#scrollbutton-up, 
#scrollbutton-down {
    margin: 10px 0 25px !important;
}

/* プライベートブラウズのロゴを退ける */
#private-browsing-indicator-with-label {
    position: fixed;
    top: 6px;
    right: 0;
}

/* user.jsのbrowser.uiCustomization.stateに沿うように、URLバーの長さを制限 */
#urlbar-container {
    width: 40vw !important;
}

/* ブックマークキーワード入力欄(タグではない)をCtrl - Dに追加 */
#editBMPanel_keywordRow {
    visibility: visible !important;
}
