/* ブックマークツールバーの長さ制限 */
#personal-bookmarks {
    max-width: 35vw;
}

/* タブスクロールを最小限に、マウスオーバー・選択・再生時はタブを展開 https://www.reddit.com/r/firefox/comments/b3slhs/why_is_there_absolutely_no_possible_way_to/ */
#tabbrowser-tabs {
    --tab-min-width: 180px !important;
}
.tabbrowser-tab:not(:hover):not([selected], [soundplaying]) {
    min-width: 20px !important;
}
:root {
    --tab-min-height: 30px !important;
}

/* タブに色を付ける [pending] */
.tabbrowser-tab[image] > .tab-stack > .tab-content[titlechanged] {
    background-position-x: left 14px;
}
.tab-content[titlechanged] {
    background-image: radial-gradient(circle, var(--panel-banner-item-warning-icon-bgcolor), var(--panel-banner-item-warning-icon-bgcolor) 2px, transparent 2px);
}
.tabbrowser-tab[soundplaying] > .tab-stack > .tab-content {
    background-position-x: left 14px !important;
    background-image: radial-gradient(circle, var(--input-error-border-color), var(--input-error-border-color) 2px, transparent 2px);
}
.tab-content[titlechanged],
.tabbrowser-tab[soundplaying] > .tab-stack > .tab-content {
    background-position: center bottom calc(6.5px + var(--tabs-navbar-shadow-size));
    background-size: 4px 4px;
    background-repeat: no-repeat;
}

/* タブの数をカウントする */
body {
    counter-reset: activetabcounter alltabcounter;
}
.tabbrowser-tab:not([pending=true]) {
    counter-increment: activetabcounter;
}
.tab-stack {
    counter-increment: alltabcounter;
}
.tabbrowser-tab:last-of-type::after {
    position: fixed;
    right: 140px;
    pointer-events: none;
    margin-top: 4px;
    padding: 2px 4px;
    border-radius: 6px 6px 0 0;
    font-size: 12px;
    content: counter(alltabcounter) " (+" counter(activetabcounter) ")" !important;
    color: var(--lwt-text-color);
    background-color: var(--toolbar-bgcolor);
    border: 4px solid var(--lwt-accent-color) !important; /* If you are using the old default theme: rgb(32,35,64) */
    border-bottom: 3px solid var(--toolbar-bgcolor) !important;
    opacity: 1 !important;
}
.tabbrowser-tab:nth-child(n+100):last-of-type::after {
    color: white;
    background-color: rgba(255,0,0,.9);
    border-bottom-color: rgba(255,0,0,.9) !important;
}
.titlebar-spacer[type="post-tabs"] {
    width: 60px!important;
}
.private-browsing-indicator {
    width: 36px;
    padding-right: 100px!important;
    /* #8000D7 */
}

/* スペーサーを削除 */
.titlebar-spacer[type="pre-tabs"] {
    display: none;
}
